BODY
{
    
}
div.scroll {
	height: 650px;
	width: 375px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #ccc;
	padding: 8px;
}

.popup
{
	color: #52525f;
	font-family: arial, sans-serif;
	font-size: 100%;
	border: 1px solid #525e52;
	background-color: #ddddff;
	font-weight: bold;
}

.suppress0
{
	text-align: right;

}

.suppress1
{
	font-weight: bold;
	color: #032147;
	text-align: right;
}

.recalc
{
	font-weight: bold;
	color: #840AFF;

	
}
