/* SchedulerConsole.css  20 Feb 2009 */

.font8pt
{
	font-size: 9pt;
}

.imgIndicator {
    border: 0;
    margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}

/* --- overridden classes from rdTemplate/rdSchedule/rdScheduleStyle.css --------- */


.rdScheduleColumnGap
{
	width: 32px;  /* add more space between labels and controls */
}

.rdSchedule TABLE
{
	text-align: left;  /* counter centering in BODY tag */
	border-collapse: collapse;
	border-width: 0px;
	background-color: AliceBlue; /* add BG color so element is obvious */
}

/* provide a little more vertical space between lines of controls */
.rdSchedule TD
{
	padding-top: 5px;	
	padding-bottom: 5px;
}

.rdSchedule IMG
{
	border: 0;
	margin-top: -3px;
	margin-left: 3px;   /* reposition calendar icon a little to the right */
	margin-right: 0px;
	margin-bottom: 0px;
}

/* --- overridden classes from rdTemplate/rdPopup/rdPopupPanel.css --------- */


.rdPopupPanel
{
	border-style: solid;
	border-color: ActiveBorder;
	border-width: thin;
	background-color: white;
}

.rdPopupPanelTitleCaption
{
	font-size: 8pt;
	font-weight: bold;
}

TD.rdPopupPanelControl
{
	text-align:right;
	font-size: 9pt;
    background-image: url(rdEAEAEA-FAFAFA-20.png);
    background-repeat:repeat-x; 
}



