/* SampleStyles.css     Sep 2010  */

BODY
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #ffffff;
	color: #000000;
	margin-bottom : 0px;
	margin-left : auto;
	margin-right : auto;
	margin-top : 0px;
	text-align: -moz-center;  	/* centering for Firefox  */
	text-align: -khtml-center;  /* centering for Safari and Chrome */
	#text-align: center;        /* centering for IE */
}

IMG { border: none; }
	
}
.fontA10
{
	font-family: Arial;
	font-size: 10pt;
}

.hRule788 
{
	text-align: center;    /* centering needed for IE only */ 
	width: 788px;
}
